* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("/assets/background-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

a {
    text-decoration: none;
}

.nav{
    display: flex;
    flex-direction: column;
    background-color: #006AB4;
    padding: 10px;
}

h1, #title, #up-next, .footer-title{
    font-family: 'Passion One', sans-serif;
    color: white;
}

h1{
    font-size: 64px;
}

h3{
    font-size: 24px;
    font-family: 'Kulim Park', sans-serif;
    color: white;
}

#img-summary{
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 30%;
    height: auto;
    max-width: 400px;
    display: flex;
    align-items: center;
    margin: 0px 30px;
    border-radius: 10px;
    margin-top: 30px;

}

.main-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#title{
    font-size: 40px;
    background-color: hsla(22, 69%, 48%, 0.9);
    border-radius: 10px;
    padding: 10px 30px;
    margin: 20px auto;
    display: inline-block;
    text-align: center;
}


#summary{
    font-family: 'Kulim Park', sans-serif;
    color: white;
    background-color: hsla(22, 69%, 48%, 0.9);
    border-radius: 10px;
    padding: 30px;
    margin-right: 30px;
    text-align: center;
    display: inline-block;
}

.title-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-container{
    background-color: hsl(194, 100%, 25%, 0.9);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 30px;
    align-self: flex-start;
}

#info-container p{
    font-family: 'Kulim Park', sans-serif;
    color: white;
    padding-top: 5px;
}

#up-next{
    background-color: hsla(217, 16%, 70%, 0.9);
    border-radius: 10px;
    padding: 10px 30px;
    width: 200px;
    border: none;
    font-size: 40px;
}

#info-up-next{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 30px 30px 0px;
}

footer{
    background-color: #006AB4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-credit{
    font-family: 'Kulim Park', sans-serif;
    font-size: 14px;
    color: white;
}

